@import 'style/normalize';
@import 'style/fonts';

body {
  font-family: 'Montserrat';
  display: flex;
  flex-direction: column;
  background: url(./assets/home.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: yellow;
  text-align: center;
  gap: 10px;
  height: auto;
  margin: 0 auto;
}

h1 {
  color: yellow;
  text-transform: uppercase;
}

.cards__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  padding-bottom: 0;
}

.card {
  width: 300px;
  height: 350px;
  margin-bottom: 50px;
  cursor: pointer;
}

.card_azathoth {
  background: url(./assets/Ancients/Azathoth.jpg) no-repeat;
  background-size: 250px 350px;
}

.card_cthulthu {
  background: url(./assets/Ancients/Cthulthu.jpg) no-repeat;
  background-size: 250px 350px;
}

.card_iog-sothoth {
  background: url(./assets/Ancients/IogSothoth.jpg) no-repeat;
  background-size: 250px 350px;
}

.card_snub_niggurath {
  background: url(./assets/Ancients/ShubNiggurath.jpg) no-repeat;
  background-size: 250px 350px;
}

.card_active {
  border: 1px solid red;
  transform: scale(1.1);
}

.level-btn__container {
  display: flex;
  justify-content: center;
  gap: 3%;
  flex-wrap: wrap;
}

.level-btn {
  font-size: 18px;
  background-color:rgba(0, 0, 0, 0.2);
  padding: 6px;
  border: 1px solid yellow;
  cursor: pointer;
  margin-bottom: 10px;
  color: yellow;
  min-width: 100px;
  border-radius: 10px;
}

.level_active {
  transform: scale(0.8);
  opacity: 0.8;
}

.shuffle {
  display: flex;
  justify-content: center;
  margin-top: -15px;
}

.shuffle__button {
  font-size: 20px;
  color: #fff;
  background-color:rgba(0, 0, 0, 0.5);
  padding: 6px;
  border: 1px solid white;
  cursor: pointer;
  width: 35%;
}

.stage__container {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  flex-wrap: wrap;
}

ul, li {
  list-style-type: none;
}

.stage {
  color: yellow;
}

.stages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

.stage__count {
  display: flex;
  gap: 15px;
  padding: 0;
  margin-top: 10px;
}

.circle {
  display: flex;
  border: 1px solid yellow;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.circle_green {
  background-color: rgb(13, 72, 13);
}

.circle_brown {
  background-color: rgb(71, 13, 13);
}

.circle_blue {
  background-color: rgb(13, 13, 128);
}

.deck {
  background: url(./assets/mythicCardBackground.jpg);
  background-repeat: no-repeat;
  background-size: 130px 190px;
  width: 130px;
  height: 190px;
  cursor: pointer;
}

.deck_show {
  opacity: 0;
  cursor: auto;
}
